doctype html
html
  head
    title New Book
    link(rel='stylesheet', href='/stylesheets/style.css')
    |     
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    h1 New Book
    |  
    include ../form_error
    form(action="/books/new" method="post")
      include form