doctype html
html(lang="en")
  head
    title Landing Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   h1 Books
   table
    thead
     tr
      th Title
      th Author
      th Genre
      th Year
    tbody
     tr
      td
       a(href='books/book_detail')=books[0].title
      td=books[0].author
      td=books[0].genre
      td=books[0].year